mixin peopleDump(people)
  case people
    when 0
      p There is no people
    when 1
      p There is one person
    when 2
    when 3
      p There are #{people} people
    default
      p It's full!
