extends ../layout

include ../mixins/comment-snippet

block content
  h1= title
  button(class="btn btn-primary") Add Comment
  .container
    each comment in listComments
      +commentSnippet(comment)
      
