extends ../layout

include ../mixins/comment-snippet

block content
  h1= title
  button(class="btn btn-primary" type="button" onclick="location.href='comments/create'") Add Comment
  .container
    each comment in listComments
      +commentSnippet(comment)
  .navigation
    .row
      .col.pa-sm
        button(class="float-end btn btn-default" type="button" onclick=`location.href='comments?page=${prevPage}&limit=${limit}'`)= "Prev"
      .col.pa-sm
        button(class="float-start btn btn-default" type="button" onclick=`location.href='comments?page=${nextPage}&limit=${limit}'`)= "Next"
      
