doctype html
html
  head
  body
    // header
    nav
      ul
        //- TODO: list
        li
        li
    section
      h1 Hello World
      div
      div
        p Bienvenidos al test con pug
          a Esto es un link de momento vacío
        div
      button Guardar
    footer Made by love with Pug
